@require './include/reset'

@import './include/markvann'

*
  min-width: 0
  min-height: 0

*:focus
  outline: none

.left
  float: left
.right
  float: right
.clear
  clear: both

body, html
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -o-text-size-adjust: none
  width: 100%

p, ul
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-padding-start: 0

body
  font-size: 16px
  background: black
	text-rendering: geometricPrecision !important
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body, div, p, li, a, input, select
  font-family: $fontHei
  letter-spacing: 0.03em

body, div, p, li, input, select
  color: darkgray

a
  color: lightsteelblue
  text-decoration: none
  &:hover
    text-decoration: underline

h1, h2, h3
  color: steelblue
  line-height: 1.5em
  text-align: center
  padding: 0.75em 0

h1
  font-size: 2.25em

h2
  font-size: 2em

h3
  font-size: 1.75em

h4, h5, h6
  color: steelblue
  line-height: 1.2em
  padding: 1em 0 0.5em

h4
  font-size: 1.6em

h5
  font-size: 1.4em
  margin: 0 0.5em

h6
  font-size: 1.2em
  margin: 0 1em

main
  padding: 32px
